<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/full-slider.css">


    <title>{{ title }}</title>
</head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">S7 LAN</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/events">EVENTET</a></li>
                        <li><a href="/rules">REGLER</a></li>
                        <li><a href="/tournaments">TURNERINGER</a></li>
                        <li><a href="/seats">PLADSKORT</a></li>
                        <li><a href="/contact">KONTAKT</a></li>
                        {{#if user}}
                        <li><a href="/users/userpanel">{{user.username}}</a></li>
                        {{else if admin}}
                            <li><a href="/admins/adminpanel">{{admin.adminname}}</a></li>
                        {{else}}
                        <li><a href="/signup">TILMELD</a></li>
                        <li><a href="/login">LOG IND</a></li>
                        {{/if}}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div>
            <div class="row">
                <div class="col-lg-12">
                    {{#if success_msg}}
                        <div class="alert alert-success">{{success_msg}}</div>
                    {{/if}}
                    {{#if error_msg}}
                        <div class="alert alert-danger">{{error_msg}}</div>
                    {{/if}}
                    {{#if error}}
                        <div class="alert alert-danger">{{error}}</div>
                    {{/if}}
                    {{{body}}}
                </div>
            </div>
        </div>

        <!--footer class="footer">
            <div class="container">
                <p class="text-muted">ALL RIGHTS RESERVED | ez pz n00bz | 2017</p>
            </div>
        </footer-->
    </body>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/ajax/dist/ajax.min.js"></script>
<script src="/angular/angular.min.js"></script>
</html>

